@font-face{font-family:"robotoregular";src:url("roboto-regular.ttf") format("opentype");}
body{font-family:"robotoregular",sans-serif;font-size:1.2em;line-height:1.7em;color:#000;background:#fff;margin:0;padding:0;}
#header{width:100%;min-width:100%;background:#fb3;font-size:1.5em;border-bottom:1px #999 solid;}
#title #likea,#title a{padding:0.5em 0.2em 0.5em 0.5em;display:inline-block;height:100%;width:100%;font-weight:normal;}
#menu a{color:#000;text-decoration:none;background:transparent;padding:0.5em 1em;display:inline-block;height:100%;font-weight:normal;}
#menu{text-align:right;}
h2{font-size:1em;font-weight:bold;padding:0.8em;letter-spacing:-1px;background:#eee;border-bottom:1px #999 solid;margin:0;}
a{color:#000;font-weight:bold;text-decoration:none;}
a:link{color:#000;text-decoration:none;}
a:visited{color:#000;text-decoration:none;}
#home{color:#000;}
#elements{margin:0;padding:0;}
#elements li{list-style:none;margin:0;padding:0;}
.symbol{display:block;float:right;text-align:center;width:4em;background:#ddd;line-height:3.6em;}
.elementam{display:block;float:right;text-align:center;width:8em;background:#ddd;line-height:3.6em;}
.elementname{padding:0.8em;line-height:3.6em;}
.line{display:block;padding:1em;border-bottom:1px #999 solid;}
.closed{background:#fff url("right.png") no-repeat 100% 50%;}
.about{background:#fb3;text-align:center;}
.element{display:block;background:#fff;padding:0;margin:0;border-bottom:1px #999 solid;clear:both;}
.tablelink{display:block;width:100%;height:100%;border:solid 1px #f00;}
#atom{width: 100%;}
#atom th{padding:1em;border-right:1px solid #aaa;border-bottom:1px solid #aaa;text-align:left;}
#atom td{padding:0;border-bottom:1px solid #aaa;}
#atom td div{padding:1em;}
#atom td a {display:block;padding:1em 3em 1em 1em;font-weight:normal;background:#fff url("right.png") no-repeat 100% 50%;}
#atom th a,#mohs td a{text-decoration:underline;color:#00f;}
#mohs{width:100%;}
#mohs th{padding:1em;text-align:center;}
#mohs td{padding:1em;}
#menubot{width:100%;}
#menubot td{padding:0;text-align:center;width:50%;}
#menubot .lscell a,#menubot .rscell a{display:block;padding:1em;}
.lscell{border-bottom:1px solid #aaa;border-right:1px solid #aaa;}
.rscell{border-bottom:1px solid #aaa;border-right:0;}
p{padding:1em;margin:0;text-align:center;}
#maxw{width:100%;overflow:auto;}
#tableview{text-align:center;width:100%;}
#tableview td a{display:block;padding:1em;background:#ddd;margin:1px;}
