@font-face{font-family:"robotoregular";src:url("roboto-regular.ttf") format("opentype");}
body{font-family:"robotoregular",sans-serif;font-size:1.2em;line-height:1.7em;color:#000;background:#fff;margin:0;padding:0;}
#hlavicka{width:100%;background:#fb3;font-size:2em;}
#nadpis #likea,#nadpis a{padding:0.3em;display:inline-block;height:100%;widht:100%;font-weight:normal;}
#menu a{color:#000;text-decoration:none;background:transparent;padding:0.3em;display:inline-block;height:100%;font-weight:normal;}
#menu{text-align:right;}
#hamburger{font-family:"robotoregular",sans-serif;}
h2{font-size:1em;font-weight:bold;padding:0.8em;letter-spacing:-1px;background:#eee;border-bottom:1px #999 solid;margin:0;}
h3{font-weight:bold;padding:0.8em;letter-spacing:-1px;margin:0;text-align:center;}
a{color:#000;font-weight:bold;text-decoration:none;}
a:link{color:#000;text-decoration:none;}
a:visited{color:#000;text-decoration:none;}
#home{color:#000;}
h1{background:#fd3 url("tabulka.png") no-repeat 0 50%;padding-left:60px;white-space:nowrap;overflow:hidden;}
#prvky{margin:0;padding:0;}
#prvky li{list-style:none;margin:0;padding:0;}
.znackaprvku{display:block;float:right;text-align:center;width:3em;background:#ddd;line-height:3em;}
.ahprvku{display:block;float:right;text-align:center;width:7em;background:#ddd;line-height:3em;}
.nazevprvku{padding:0.8em;line-height:3em;}
.skupina{display:block;padding:1em;border-bottom:1px #999 solid;}
.closed{background:#fff url("right.png") no-repeat 100% 50%;}
.about{background:#fb3;text-align:center;}
.open{background:#eee url("down.png") no-repeat 100% 50%;}
.prvek{display:block;background:#fff;padding:0;margin:0;border-bottom:1px #999 solid;}
.tablelink{display:block;width:100%;height:100%;border:solid 1px #f00;}
#atom{width: 100%;}
#atom th{padding:1.5em 1em;border-right:1px solid #aaa;border-bottom:1px solid #aaa;text-align:left;}
#atom td{padding:0;border-bottom:1px solid #aaa;}
#atom td div{padding:1em;}
#atom td a {display:block;padding:1.5em 1em;font-weight:normal;background:#fff url("right.png") no-repeat 100% 50%;}
#atom th a,#mohs td a{text-decoration:underline;color:#00f;}
#mohs{width:100%;}
#mohs th{padding:1.5em 1em;border-top:1px solid #aaa;text-align:center;}
#mohs td{padding:1.5em 1em;}
.pravyokraj{border-right:0;}
.vnitrnibunka{border-bottom:1px solid #aaa;border-right:1px solid #aaa;}
.pravyokraj{border-bottom:1px solid #aaa;}
p{padding:1em;margin:0;}
