body{font-family:sans-serif;font-size:1.2em;line-height:1.7em;color:#000;background:#fff;margin:0;padding:0;}
h1{font-size:1.2em;font-weight:bold;padding:15px;letter-spacing:-1px;background:#fd3;border-bottom:1px #999 solid;margin:0;}
h2{font-size:1em;font-weight:bold;padding:15px;letter-spacing:-1px;background:#eee;border-bottom:1px #999 solid;margin:0;}
h3{font-weight:bold;padding:15px;letter-spacing:-1px;margin:0;text-align:center;}
a{color:#000;font-weight:bold;text-decoration:none;}
a:link{color:#000;text-decoration:none;}
a:visited{color:#000;text-decoration:none;}
#home{color:#000;}
#home h1{background:#fd3 url("home.png") no-repeat 100% 50%;}
#prvky{margin:0;padding:0;}
#prvky li{list-style:none;margin:0;padding:0;}
#znackaprvku{display:block;float:right;text-align:center;width:3em;background:#ddd;line-height:60px;}
#nazevprvku{padding:15px;line-height:60px;}
.skupina{display:block;padding:15px;border-bottom:1px #999 solid;}
.closed{background:#fff url("right.png") no-repeat 100% 50%;}
.open{background:#eee url("down.png") no-repeat 100% 50%;}
.back{background:#eee url("left.png") no-repeat 100% 50%;}
.prvek{display:block;background:#fff;padding:0;margin:0;border-bottom:1px #999 solid;}
.tablelink{display:block;width:100%;height:100%;border:solid 1px #f00;}
#atom{width: 100%;}
#atom th{padding:10px 1em 10px 15px;border-right:1px solid #aaa;border-bottom:1px solid #aaa;text-align:left;}
#atom td{padding:0;border-bottom:1px solid #aaa;}
#atom td div{padding:10px 1em 10px 15px;}
#atom td a {display:block;padding:10px 1em 10px 15px;font-weight:normal;}
.alkkov{background-color:#693;}
.haloge{background-color:#f96;}
.kalkze{background-color:#9c9;}
.kovy{background-color:#999;}
.nekovy{background-color:#f33;}
.poloko{background-color:#c63;}
.prech{background-color:#fc3;}
.vprech{background-color:#0cf;}
.vzacne{background-color:#f69;}
.about{margin:10px;padding:10px;;text-align:center;}
.about a,#atom th a,#mohs td a{text-decoration:underline;color:#00f;}
.about a.button-link{padding:15px 40px;}
a.button-link{padding:15px;background:#fd3;color:#000;font-weight:bold;text-decoration:none;box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),0 1px 1px rgba(0,0,0,0.2);}
#mohs{width:100%;}
#mohs th{padding:10px 1em 10px 15px;border-top:1px solid #aaa;text-align:center;}
#mohs td{padding:10px 1em 10px 15px;}
.pravyokraj{border-right:0;}
.vnitrnibunka{border-bottom:1px solid #aaa;border-right:1px solid #aaa;}
.pravyokraj{border-bottom:1px solid #aaa;}
p{padding:15px;margin:0;}
